@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --main-bg-color: #8d76f6;
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
#root {
  flex-grow: 1;
}
html,
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Roboto Mono", monospace;
  background-color: rgb(227, 226, 226);
}
html,
body {
  min-height: 100vh ;
}
.bg-main-color {
  background-color: var(--main-bg-color) !important;
}
.grid-container {
  display: grid;
}
.my-container {
  display: flex;
  flex-wrap: wrap;
}
.centerHorizontal {
  justify-content: center;
}
.rigthHorizontal {
  justify-content: flex-end;
}
.centerVertical {
  align-items: center;
}
.centerHorizontalVertical {
  align-items: center;
  justify-content: center;
}
.nav {
  /*background: linear-gradient(to left, #0073cf 0%, #ffffff 100%);*/
  padding: 20px;
  list-style-type: none;
  background-color: white;
}
.li-inline-block {
  flex-grow: 1;
  text-align: end;
}
.nav .li-inline-block li {
  display: inline-block;
  font-size: 19px;
  margin: 0px 20px;
}
.nav .li-inline-block li:hover {
  font-size: 20px;
}
.hamburger {
  min-height: 30px;
  max-width: 50px;
}
.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
  background-color: black;
  position: absolute;
  width: 40px;
  height: 4px;
  border-radius: 5px;
  content: "";
  transition-timing-function: ease;
  transition-duration: 0.2s;
}
.hamburger-inner:before {
  top: 10px;
  transition-property: transform, opacity;
}
.hamburger-inner:after {
  top: 20px;
}
.ul-app-view {
  text-align: center;
  font-size: 25px;
}
.x-inner {
  position: absolute;
  width: 40px;
  height: 4px;
  border-radius: 5px;
  content: "";
  transition-timing-function: ease;
  transition-duration: 0.2s;
}
.x-inner:after,
.x-inner:before {
  background-color: black;
  position: absolute;
  width: 40px;
  height: 4px;
  border-radius: 5px;
  content: "";
  transition-timing-function: ease;
  transition-duration: 0.2s;
}
.x-inner:before {
  transform: rotate(45deg);
}
.x-inner:after {
  transform: rotate(-45deg);
}
@media screen and (min-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr 4fr;
  }
}
/*.chatBackground {
  background-color: #e5e5f7;
  background-image: linear-gradient(135deg, #444cf7 25%, transparent 25%),
    linear-gradient(225deg, #444cf7 25%, transparent 25%),
    linear-gradient(45deg, #444cf7 25%, transparent 25%),
    linear-gradient(315deg, #444cf7 25%, #e5e5f7 25%);
  background-position: 10px 0, 10px 0, 0 0, 0 0;
  background-size: 20px 20px;
  background-repeat: repeat;
}*/
.chatBackground {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/chat-hn-85a02.appspot.com/o/background-min.jpg?alt=media&token=33cd2e4f-d652-4d3b-aacc-151cbfa9a00c');
  background-size: cover;
}

/* Tamaño del scroll */
.container-scroll::-webkit-scrollbar {
  width: 10px;
}

 /* Estilos barra (thumb) de scroll */
.container-scroll::-webkit-scrollbar-thumb {
  background: #6B41E4;
  border-radius: 2px;
}

.container-scroll::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

.container-scroll::-webkit-scrollbar-thumb:hover {
  background: #481ec7;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

 /* Estilos track de scroll */
.container-scroll::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

.container-scroll::-webkit-scrollbar-track:hover, 
.container-scroll::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}



