@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    box-sizing: border-box;
    padding: 0px;
}
html, body{
    height:100%;
    margin:0;
    flex-grow: 1;
}
.container{
    display: flex;
    flex-wrap: wrap;
}
.centerHorizontal{
    justify-content:center ;
}
.rigthHorizontal{
    justify-content:flex-end
}
.centerVertical{
    align-items: center;
}
.centerHorizontalVertical {
    align-items: center;
    justify-content:center;
}
.nav {
    background: linear-gradient(to left, #0073cf 0%, #ffffff 111%);;
    padding: 20px;
    list-style-type:none;
}

.nav li{
    display: inline-block;
    font-size: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
.text-end li {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
}
